@font-face {
    font-family:SanFranciscoDisplay-Medium;
    src: url("fonts/SanFranciscoDisplay-Medium.otf") format("opentype");

}

@media(max-width:767px){
  body {
    scroll-behavior: smooth;
    font-size: 0.8rem;
    font-family: "SanFranciscoDisplay-Medium";
  }
  img {
    padding-top:10%;
    padding-bottom: 2rem;
  }
  .movies-div {
    /* background-color: #a9a9a9; */
    background:linear-gradient(rgba(248, 186, 0, 1), rgba(0,0,0,1));
  }
  .col-sm-12 img {
    width:50%;
  }
  .order-div {
    background-image: url("images/brand/room-st-pic.jpg");
    padding-bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
  }
  .share-page {
    padding-bottom:5rem;
    background:rgb(248, 186, 0);
  }
  #description p {
    text-align:left;
    background-color: white;
  }
  .row{
    min-height: 100vh;
    font-size:1.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  #menu-logo {
    padding-top: 0;
    width:20%;
    padding-bottom: 0.5rem;
  }
  strong {
      font-size: 3.4rem;
      line-height:4.6rem;
      font-weight: bold;
      background-color: white;
  }
  p {
    padding:1rem;
    line-height:2.4rem;
    font-size: 1.6rem;
    text-align:center;
  }
}
@media(min-width:768px){
  img {
    padding-top:6rem;
    padding-bottom: 10vh;
  }

  body {
    font-family: "SanFranciscoDisplay-Medium";
    font-size: 3rem;
  }
  .nav, .navbar, .navbar-nav,  .navbar-nav li {
  	text-align:center;
    margin:0;
    float:none;
    display:inline-block;
  }
  .movies-div {
    /* background-color: #a9a9a9; */
    background:linear-gradient(rgba(248, 186, 0, 1), rgba(0,0,0,1));
    padding-top: 4rem;
  }
  .music-div {
    /* background-color: #a9a9a9; */
    background:linear-gradient(rgba(155,34,34,1), rgba(100,34,34,1));
    padding-top: 4rem;
  }
  .order-div {
    background-image: url("images/brand/room-st-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
  }
  .share-page {
    padding-bottom:5rem;
    background:rgb(248, 186, 0);
  }
  .row{
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
  }
  .navbar-brand {
    display:none;
  }
  .nav-item {
    font-size: 2rem;
  }
  #menu-logo {
    padding-top: 0;
    width:20%;
    padding-bottom: 1rem;
  }
  strong {
      font-size: 4rem;
      line-height:4rem;
      font-weight: bold;
  }
  p {
    padding: 2rem;
    line-height:2.4rem;
    font-size: 1.6rem;
    text-align:center;
  }
  #description p {
    text-align:left;
    background-color: white;
  }
}
@media(min-width:992px){
  #menu-logo {
    width:25%;
    padding-bottom: 0.5rem;
  }
}
@media(min-width:1200px){
  .nav-item {
    font-size: 2.5rem;
  }
  #menu-logo {
    width:30%;
  }
  #big-logo {
    font-size:6rem;
  }
  .col-md-6 p{
    font-size:1.8rem;
    line-height:2.7rem;
  }
  strong {
      font-size: 4rem;
      line-height:6rem;
  }
  img {
    width:60%;
  }
  #logo {
    width:40%;
  }
}
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
