@media(max-width:767px){
  body {
    scroll-behavior: smooth;
    font-size: 1rem;
  }

  .row1 {
    background:linear-gradient(rgba(248,186,0,0.1), rgba(0,0,0,1)), url("https://static.pexels.com/photos/342521/pexels-photo-342521.jpeg");
    padding-top: 6rem;
    height:100vh;
  }
  .row2 {
    background:linear-gradient(rgba(255,255,255,1), rgba(0,0,0,1)), url("https://static.pexels.com/photos/4441/city-people-art-sidewalk.jpg");
  }
  .row3 {
    background-color:black;
    padding-bottom:5rem;
  }
  .row{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  strong {
      font-size: 4rem;
      background-color: black;
  }
  p{
    padding-left: 1rem;
    text-align:left;
  }
}
@media(min-width:768px){
  body {
    font-size: 3rem;
  }
  .row1 {
    background:linear-gradient(rgba(248,186,0,0.1), rgba(0,0,0,1)), url("https://static.pexels.com/photos/342521/pexels-photo-342521.jpeg");
    padding-top: 6rem;
  }
  .row2 {
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,1)), url("https://static.pexels.com/photos/4441/city-people-art-sidewalk.jpg");
  }
  .row3 {

    background-color:black;
  }
  .row{
        min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
  }
  .navbar-brand {
    display:none;
  }
  .nav-item {
    font-size: 2rem;
  }
  strong {
      font-size: 4rem;
  }
  p{
    font-size: 1.8rem;
    padding-left: 2rem;
    text-align:left;

  }
}
@media(min-width:992px){
  p{
    font-size: 2rem;
    padding-left: 1rem;
    text-align:left;

  }
}
@media(min-width:1200px){
  .nav-item {
    font-size: 2.5rem;
  }
  #big-logo {
    font-size:6rem;
  }
}
